@model IEnumerable<SeniorProject.Models.DeviceModel>

<script>
    if (localStorage.getItem('dark')) {
        body.classList.add('dark');
    }
</script>

<p>
    <a asp-controller="Devices" asp-action="AddDevice">Add Device +</a>
</p>
<table class="table">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alert)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Powered)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alert)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Powered)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditDevice", "Devices",  new { /*id=item.PrimaryKey */ } ) |
               @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) 
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    checkbox.addEventListener('change', darkModeToggle() {
        localStorage.setItem('dark', this.checked);
        if (this.checked) {
            body.classList.add('dark')
        } else {
            body.classList.remove('dark')
        }
    });

</script>
